@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: azure;
  color: rgb(45, 45, 45);
}

main {
  padding: 10px;
}

.heading_wrapper {
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  gap: 10%;
  margin-top: 2%;
}

.scores_display {
  border: 1px solid;
  padding: 0.3em;
}

li {
  padding-block: 0.3em;
  list-style-type: none;
  text-transform: capitalize;
}

li:nth-of-type(even) {
  background-color: skyblue;
}

li:nth-of-type(even).dark {
  background-color: rgb(59, 59, 59);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1em;
}

form input {
  padding: 0.3em;
}

form button {
  width: fit-content;
}

.status {
  display: inline-block;
  height: 40px;
  width: 200px;
  color: green;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle_theme {
  display: block;
  width: 40px;
  height: 19px;
  border: 2px solid dimgray;
  border-radius: 15px;
  cursor: pointer;
}

.toggle_theme::before {
  display: block;
  content: '';
  position: relative;
  top: 1.3px;
  left: 1px;
  transition: 0.4s;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: dimgray;
  border-radius: 15px;
}

.toggle_theme.active::before {
  left: 22px;
  background-color: azure;
}

body.dark {
  background-color: darkslategrey;
  color: whitesmoke;
}
